In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the data
df = pd.read_csv('gas_price_data.txt', delimiter='\t')

In [2]:
df.head()

,Average gasoline and diesel prices in the U.S. 2022-2024,Unnamed: 1,Unnamed: 2
0,Average regular gasoline and diesel prices in ...,NaN,NaN
1,Date,Regular,Diesel
2,"Aug 29, '22",3.85,5.06
3,"Sep 5, '22",3.79,5.07
4,"Sep 12, '22",3.72,5.01

In [4]:
# if you love excel and want to have a readable version for that: 
df.to_excel('gas_price_data.xlsx')

In [5]:
# if you want to save to a new csv file
df.to_csv('gas_price_data.csv')